.new_activity__container {
	padding: 30px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
}

.new_activity__form {
	width: 100%;
}

.new_activity__image {
	width: 100%;
	min-height: 25vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
	justify-content: flex-end;
	background-image: url("../../images/New_Activity.jpeg");
}
