.search_container {
	width: 91vw;
	background-color: #f9f9f9;
	margin: 3% 4% 0 1%;
	padding: 1%;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
	border-radius: 8px;
	justify-content: flex-start;
}

.search_container * {
	flex: 1;
}

.search_field_container {
	flex: 3;
}
