.table_row__container {
	box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
		rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
	margin-bottom: 35px;
	cursor: pointer;
}

.table_row__element {
	border-right: 1px dotted #777;
	padding: 20px;
}

.table_row__last_colmun {
	border-right: none;
}

.table_row__read_more_container {
	border: none;
	padding: 0;
}

.table_row__description {
	border-top: 1px dotted #777;
	border-bottom: 1px dotted #777;
	border-right: none;
}

.table_row__top_border {
	border-top: 1px dotted #777;
}

/* Phone */
@media (max-width: 600px) {
	.table_row__mobile_remove_right_border {
		border-right: none;
	}

	.table_row__mobile_add_bottom_border {
		border-bottom: 1px dotted #777;
	}
}
