.background:hover {
	opacity: 1;
}

.music {
	background-image: url("../../images/music.jpeg");
}

.games {
	background-image: url("../../images/games.jpeg");
}

.sport {
	background-image: url("../../images/sport.jpeg");
}

.title_container {
	width: 100%;
	background-color: #777;
	opacity: 0.85;
}
