.navbar {
	overflow: hidden;
	background-color: #777;
	opacity: 0.8;
	font-size: 12px;
}

.navbar__link {
	display: block;
	float: left;
	color: white;
	text-align: center;
	padding: 8px 14px;
	text-decoration: none;
}

.navbar__link:hover:not(.navbar__active) {
	background-color: #111;
}

.navbar__active {
	background-color: #3f51b5;
	opacity: 0.8;
}

@media (max-width: 600px) {
	.navbar {
		font-size: 7px;
	}
}
